/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Global Elements */

h1 {
    color: #111111;
    font-size: 48px;
    font-family: 'Playfair Display', serif;
}

/* follow us H2 */
h2 {
    color: #111111;
    font-size: 48px;
    font-family: "playfair Display", sans-serif;
}

/* our team H3 */
h3 {
    color: #111111;
    font-size: 48px;
    font-family: "playfair Display", sans-serif;
}

/* JOin Our Team H5 */
h5 {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

h6 {
    font-size: 14px;
    font-family: "open sans", sans-serif;
    color: #f2101a;
}


p {
    color: #b3b3b3;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.address p {
    color: #999999;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    color: #ffffff;
    font-size: 14px;
    font-family: "open sans", sans-serif;
    background-color: #f2101a;
    cursor: pointer;
    height: 40px;
    width: 100px;
    border: none;
    transition: 0.09s ease-in;

}

.btn:hover {
    background-color: #111111;
}

/* Nav  */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 10vh;
    width: 100%;
}

.nav input {
    height: 40px;
    width: 200px;
    padding-left: 2px;
    outline: none;
    border: 1px solid #999999;
    border-radius: 3px;
}

.nav .input i {
    position: relative;
    font-size: 15px;
    right: 35px;
}

.nav-icon i {
    font-size: 20px;
}

/* main-section */
.main-section {
    position: relative;
    height: 150vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.section-img {
    height: 65vh;
    max-width: 60%;
    margin-top: 30px;

}

.section-img img {
    height: 100%;
    width: 100%;
    /* margin-top: 30px; */
}

/* aos */

.section-img {
    height: 550px;
    width: 350px;
}

.section-img img {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

figure {
    overflow: hidden;
    margin: 0 10px;
}

#zoom-in img {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

#zoom-in:hover img {
    transform: scale(1.3);
    background-color: #111111;
    z-index: 1;
    opacity: 0.8;
}

.para-first p {
    font-weight: 700;
    color: #111111;
    letter-spacing: 1.5px;
}

.sec-para {
    margin-top: 30px;
}

.sec-para p {
    font-weight: 400;
    color: #111111;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-family: 'open sans', sans-serif;
}

.third-para {
    margin-top: 25px;
}

.third-para h6 {
    font-size: 14px;
    font-family: 'open sans', sans-serif;
}

.para-4 {
    margin-top: 25px;

}

.para-4 p {
    font-size: 16px;
    font-family: 'open sans', sans-serif;
    color: #111111;

}

/* 6 img section */

.img-6 {
    height: 120vh;
    width: 100%;
    font-size: 16px;
    font-family: 'open sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.img-6 .section-img {
    height: 40vh;
    max-width: 60%;
}

.img-6 .section-img img {
    height: 40vh;
    max-width: 100%;
}

.button-btn {
    position: absolute;
    top: 280%;
    margin-bottom: 20px;
}

.button-btn .btn {
    height: 50px;
    width: 180px;
    margin-bottom: 30px;
    font-size: 20px;
}

.img-2 {
    display: flex;
    flex-direction: row;

}

.black-section {
    height: 100vh;
    max-width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.black-section .white-div {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 60%;
    height: 60vh;
    background-color: #ffffff;
    position: relative;

}

.black-section .white-div .white-img {
    /* background-color: #999999; */
    height: 350px;
    width: 350px;
    position: absolute;
    border-radius: 50%;
    top: -150px;

}

.black-section .white-div .white-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid #ffffff;
}

.black-section .white-div-details {
    position: absolute;
    top: 190px;
}

.black-section .white-div-details p {
    margin-top: 30px;
    font-weight: 300;
    color: #111111;
    font-size: 19px;
    font-family: 'open sans', sans-serif;
}

.black-section .white-div-details .btn {
    margin-top: 30px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
}

.img-6 .img-6-details {

    height: 50vh;
    width: 75%;
    float: left;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    gap: 60px;

}

.img-6 .img-6-details .details-p-1,
.img-6 .img-6-details .details-p-2,
.img-6 .img-6-details .details-p-3 {
    width: 100%;

}

.img-6 .img-6-details .details-p-1 p,
.img-6 .img-6-details .details-p-3 p {
    font-size: 18px;
    color: #111111;
    line-height: 30px;


}

.img-6 .img-6-details .details-p-2 {
    height: 42vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-6 .img-6-details .details-p-2 h3 {
    margin-bottom: 30px;
    font-size: 48px;
    color: #111111;
    font-family: 'playfair display',sans-serif;
}
.img-6 .img-6-details .details-p-2 p{
    color: #111111;
    font-family: 'open';
    font-family: 'open sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.logo{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
   
}
.logo .all-logo{
    width: 75%;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
/* last section */

.last-section{
    width: 100%;
    height: 160vh;
    background-color: #faf7f7;
   
}
.last-section .last-img{
    width: 100%;
    height: 100vh;
   display: flex;
   justify-content: center;
   gap: 80px;
    
}  
.last-section .last-img .last-img-1{
    margin-top: 180px;
    height: 430px;
    width: 330px;
}
.last-section .last-img .last-img-2{
    height: 430px;
    width: 330px;
} 
.last-section .last-img .last-img-1 img,

.last-section .last-img .last-img-2 img{
    width: 100%;
    height: 100%;
}
